@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

:host{
    display: flex;
    overflow: hidden;
    align-items: center;
}

.section-left_illustration{
    width: 50%;
    display: flex;
    align-items: center;
    .img_left{
        height: 1400px;
        width: 100%;
    }
}

.section-right-login{
    width: 50%;
    height: 937px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    .d-block{
        width: 450px;
        height: 500px;
        // border: 1px solid #12151D;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        -webkit-box-shadow: 1px 1px 39px -5px rgba(0,0,0,0.61); 
        box-shadow: 1px 1px 39px -5px rgba(0,0,0,0.61);
        .login{
            text-align: center;
            margin: 0 0 40px 0;
            font-size: 3em;
        }
        .email{
            margin: 40px 20px 5px 20px;
            font-weight: 400;
        }
        .email_input{
            padding: 10px 50px 10px 10px;
            border-radius: 15px;
            border: 1px solid #12151D;
        }
        .password{
            margin: 20px 20px 5px 20px;
            font-weight: 400;
        }
        .password_input{
            margin: 0 0 40px 0;
            padding: 10px 50px 10px 10px;
            border-radius: 15px;
            border: 1px solid #12151D;
        }
        .btn{
            text-align: center;
            .btn_login{
                padding: 10px 50px;
                margin: 40px 0 0 0;
                background-color: #12151D;
                border: 1px solid #12151D;
                border-radius: 15px;
                color: #fff;
            }
        }


    }

}

