




main {
    background-color: #12151d;
    padding: 25px 200px;
    border-bottom: 1px solid #202533;
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul{
            li{
                .logo{
                    font-size: 40px;
                    color: #fff;
                }
            }
        }
        .navbar-right{
            display: flex;
            align-items: baseline;
            ul{
                li{
                    .link{
                        font-size: 18px;
                        color: #fff;
                        margin: 0 20px;
                        text-transform: uppercase;
                        padding: 10px 0;
                        &:hover{
                            border-bottom: 1px solid #fff ;
                        }
                    }   
                }
            }
        }
    }
}

.sign-up{
    margin: 10px 20px 5px 20px;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    &:hover{
        color: #000;
        background-color: #fff;
    }
}
.log-in{
    margin: 5px 20px 10px 20px;
    border: 1px solid #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    cursor: pointer;
}


.first-section{
background-color: #12151d;
height: 506px;
display: flex;
padding: 100px 200px;
border-bottom: 1px solid #202533;
    .main-section_left{
        width: 50%;
        display: flex;
        justify-content: start;
        align-items: center;
        h1{
            font-size: 58px;
            color: #fff;
            text-align: start;
        }
        .dashboard{
        margin: 30px 20px 0px 0px;
        padding: 10px 20px;
        border: 1px solid #fff;
        border-radius: 10px;
        background-color: transparent;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
            &:hover{
            color: #000;
            background-color: #fff;
            }
        }
    }
    .main-section_right{
        width: 50%;
        display: flex;
        justify-content: end;
        position: relative;
        .img-blue{
            position: absolute;
            top: 2px;
            right: 0;
            height: 100%;
        }
        .img-purple{
            position: absolute;
            top: 2px;
            right: 0;
            height: 100%;
        }
        .img-teal{
            position: absolute;
            top: 2px;
            right: 0;
            height: 100%;
        }
    }
}

.second-section{
    background-color: #12151d;
    color: #fff;
    padding: 100px 200px 100px 200px;
    h2{
        text-align: center;
        margin-bottom: 100px;
        font-size: 40px
    }
    .icon-card{
        display: flex;
        justify-content: space-between;
        div{
            width: 300px;
            h3{
                text-align: center;
                margin: 20px 0;
            }
            h4{
                color: #c5c5c5;
                font-weight: 400;
            }
        };
    }
}

.video{
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 500px;
    overflow: hidden;
  }

.bg-opacity{
    position: absolute;
    width: 100%;
    height: 500px;
    filter: opacity(0.5);
    margin-top: -500px;
}

  #myVideo{
      width: 100%;
  }

  footer{
      padding: 100px 200px 50px 200px;
      background-color: #12151d;
    .d-flex_footer{
        display: flex;
        justify-content: space-between;
        li{
            display: block;
            .about_footer{
                color: #fff;
            }
            .contact_footer{
                color: #fff;
            }
        }
    }
    .copyright{
        h6{
            margin-top: 50px;
            text-align: center;
            color: #707070;
        }
    }
  }