
    <main>
        <div class="navbar">
            <ul>
                <li>
                    <a href="#" class="logo">
                        Cryptonix
                    </a>
                </li>
            </ul>
            <div class="navbar-right">
                <ul>
                    <li>
                        <a class="link" href="#about">A propos</a>
                        <a class="link" href="#contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/src/app/form/form.component.html">
                            <button class="log-in" href="#form">
                                Sign up
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <section class="first-section">
        <div class="main-section_left">
            <div>
                <h1>ACHETER, VENDRE, ÉCHANGER EN QUELQUES CLICKS.</h1>
                <button class="dashboard">Accéder au dashboard</button>
            </div>
        </div>
        <div class="main-section_right">
            <img class="img-blue" src="assets/img/Graphic-Blue-Wave.svg" alt="">
            <img class="img-purple" src="assets/img/Graphic-Purple-Wave.svg" alt="">
            <img class="img-teal" src="assets/img/Graphic-Teal-Wave.svg" alt="">
        </div>
    </section>
    <section class="second-section" id="about">
        <h2>Créez votre portefeuille en cryptomonnaies dès aujourd'hui.</h2>
        <div class="icon-card">
            <div class="first-icon_about">
                <img src="assets/img/icon2.png" alt="">
                <h3>Gérez votre portefeuille</h3>
                <h4>Acheter et vendre des devises numériques répandues, effectuer un suivi de manière centralisée.</h4>
            </div>
            <div class="second-icon_about">
                <img src="assets/img/icon1.png" alt="">
                <h3>Achats récurrents</h3>
                <h4>Investissez petit à petit dans les cryptomonnaies en programmant des achats journaliers, hebdomadaires ou mensuels.</h4>
            </div>
            <div class="third-icon_about">
                <img src="assets/img/icon4.png" alt="">
                <h3>Couverture par une assurance</h3>
                <h4>Cryptonix maintient une assurance en cryptomonnaies et tous les soldes en espèces en USD sont couverts par une assurance de la FDIC, à hauteur de 250 000 $.</h4>
            </div>
        </div>

        
    </section>
    
    <section>
        <div class="video">
            <video autoplay loop muted id="myVideo">
                <source src="/assets/img/LIQUID_ART_by_gleb.mp4" type="video/mp4">
            </video>
        </div>
        <img class="bg-opacity" src="/assets/img/bg-opaicty.jpg" alt="">

        
    </section>

    <footer>
        <div class="d-flex_footer">
            <div>
                <ul>
                    <li>
                        <a class="about_footer" href="#about">A PROPOS</a>
                        <a class="contact_footer" href="#contact">CONTACT</a>
                    </li>
                </ul>
            </div>
            <div>

            </div>
        </div>
        <div class="copyright">
            <h6>Copyright © | Cryptonix</h6>
        </div>
    </footer>
